<div class="welcome-container">
  <h1>Welcome to MoviePal!</h1>

  <div class ="movie-carousel">
    <button class = "nav-arrow left" [disabled]="currentPage === 0" (click)="prevPage()">&lt;</button>

    <div class = "movie-row">
      @for (movie of paginatedMovies; track movie){
        <div class="movie-card">
          <img [src]="movie.posterUrl" alt="{{ movie.title }} poster" class="movie-poster">
          <h2 class="movie-title">{{ movie.title }}</h2>
        </div>
      }
    </div>

    <button class = "nav-arrow right" [disabled]="!hasMoreMovies()" (click)="nextPage()">&gt;</button>
</div>