@import '../../../variables.scss';

.footer-container {
  background-color: $background-light;
  color: #eee;
  text-align: center;
  padding: 2rem 2rem;
  font-family: 'Segoe UI', sans-serif;
}

.footer-social {
  margin-bottom: 1rem;
}

.footer-social a {
  color: #eee;
  font-size: 1.5rem;
  margin: 0 1rem;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block; 
}

.footer-social a:hover {
  color: $accent-light;
  transform: translateY(-2px);
}

.footer-description {
  font-size: 0.95rem;
  margin: 0rem auto;
  max-width: 600px;
  line-height: 1.6;
  color: #ccc;
}

.footer-logo img {
  max-width: 230px;
  height: auto;
  margin-top: 0.6rem;
}


.footer-bottom {
  margin-top: 0.8rem;
  font-size: 0.85rem;
  color: #b9b9b9;
}
