<footer class="footer-container">
  <!-- Social Media Icons -->
  <div class="footer-social">
    <a href="mailto:contact@moviepal.com" aria-label="Email">
      <i class="fas fa-envelope"></i>
    </a>
    <a href="tel:+1234567890" aria-label="Phone">
      <i class="fas fa-phone-alt"></i>
    </a>
    <a href="https://www.instagram.com/cinemacity_romania/" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/CinemaCityRomania/" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/@CinemaCityRomaniaYouTube" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
  </div>

  <!-- Cinema Description -->
  <p class="footer-description">
    MoviePal is your trusted companion for exploring and enjoying cinema
    worldwide.
  </p>

  <!-- Logo -->
  <div class="footer-logo">
    <img src="assets/images/logo1-white.png" alt="MoviePal Logo" />
  </div>

  <!-- Bottom Copyright -->
  <div class="footer-bottom">
    <p>&copy; 2025 MoviePal. All rights reserved.</p>
  </div>
</footer>
