@import '../../../variables.scss';

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.schedule-container {
  padding: 2rem;
  background: linear-gradient(135deg, $background 0%, $background 100%);
  min-height: calc(100vh - 5rem);

  ::ng-deep {
    .ant-table {
      animation: fadeInUp 0.6s ease-out forwards;
      background-color: $background;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

      .ant-table-thead > tr {
        animation: fadeInUp 0.5s ease-out forwards;
      }
      
      .ant-table-thead > tr > th {
        background-color: $background;
        color: $text-light;
        font-weight: bold;
        padding: 16px;
        border-bottom: 2px solid $text-light;
      }

      .ant-table-tbody > tr {
        opacity: 0;
        animation: fadeInUp 0.4s ease-out forwards;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation-delay: $i * 0.2s;
          }
        }
      }
      
      .ant-table-tbody > tr > td {
        padding: 16px;
        border-bottom: 1px solid $light-gray;
        transition: background-color 0.2s ease, transform 0.2s ease;


        button{
          font-size: 1.2rem;
          color: $background;
          font-weight: 500;
          border-radius: 20px;
          padding: 8px 16px;
          border: 1px solid $text-light;
          background-color: $text-light;
          transition: transform 0.2s ease, background-color 0.2s ease-out, color 0.2s ease-out, border-color 0.2s ease-out;

          &:hover{
            background-color: $accent-light;
            color: $text-light;
            border: $accent-light;
            transform: scale(1.06);
          }
        }
      }
      
      .ant-table-tbody > tr:hover > td {
        background-color: $background-light;
        transform: scale(1.04);
        border-top: 3px solid $light-gray;
        border-bottom: 3px solid $light-gray;

        .movie-poster {
          border-radius: 5px;
          transition: transform 0.3s ease;
          transform: scale(1.2);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

          &:hover {
            transform: scale(1.35);
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }

    .ant-pagination {
        opacity: 0;
        margin: 16px 0;
        animation: fadeInUp 0.7s ease-out forwards;
        animation-delay: 2s;
        
        .ant-pagination-item-active {
          border-color: $accent;
          a {
            color: $accent;
          }
        }
        
        .ant-pagination-item:hover {
          border-color: $accent-light;
          a {
            color: $accent-light;
          }
        }
      }
  }
  
  .cinema-name {
    font-weight: bold;
    color: $text-light;
  }
  
  .movie-title {
    font-weight: bold;
    color: $text-light;
  }
  
  .director-name {
    color: $text-light;
    font-style: italic;
    font-weight: 500;
  }

  .genre{
    color: $text-light;
    font-weight: 400;
  }
  
  .showtime {
    font-size: 1rem;
    font-weight: bold;
    background-color: $text-light;
    color: $background;
    padding: 4px 8px;
    border-radius: 4px;
    display: inline-block;
  }
}

@media (max-width: 768px) {
  .schedule-container {
    padding: 1rem;
    
    h1 {
      font-size: 2rem;
    }
    
    ::ng-deep .ant-table {
      .ant-table-thead > tr > th,
      .ant-table-tbody > tr > td {
        padding: 12px 8px;
      }
    }
    
    .movie-poster {
      width: 40px;
      height: 60px;
    }
  }
}