<div class="tickets-container">
  <div class="table-operations">
    <!-- Add button -->
    <button
      nz-button
      nzType="primary"
      class="add-ticket-btn"
      (click)="openCreateModal()"
    >
      <i nz-icon nzType="plus"></i> Add Ticket
    </button>
    
    <!-- Add search input -->
    <div class="search-box">
      <input 
        nz-input 
        placeholder="Search tickets..." 
        [(ngModel)]="searchText" 
        (ngModelChange)="onSearch()"
      />
      <i nz-icon nzType="search"></i>
    </div>
  </div>

  <nz-table
    [nzData]="filteredTickets"
    [nzFrontPagination]="true"
    [nzPageSize]="5"
    [nzLoading]="loading"
    (nzCurrentPageDataChange)="currentPageDataChange($event)"
  >
    <ng-template #totalTemplate let-total>Total {{ total }} items</ng-template>
    <thead>
      <tr>
        <th 
          *ngFor="let column of columns" 
          [nzSortFn]="column.sortFn ?? null"
          [nzSortPriority]="column.sortPriority ?? false"
          [nzSortDirections]="column.sortDirections || ['ascend', 'descend', null]"
        >
          {{ column.title }}
        </th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
      @for(ticket of filteredTickets; track ticket.ticket.id) {
        <tr>
          <td>{{ ticket.ticket.id }}</td>
          <td>{{ ticket.movie.title }}</td>
          <td>{{ ticket.cinema.name }}</td>
          <td>{{ ticket.ticket.showTime }}</td>
          <td>{{ ticket.ticket.numberOfSeats }}</td>
          <td>{{ ticket.ticket.totalPrice | currency }}</td>
          <td>{{ ticket.ticket.bookingDate | date: 'medium' }}</td>
          <td>
            <nz-tag [nzColor]="ticket.ticket.status === 'BOOKED' ? 'green' : 'red'">
              {{ ticket.ticket.status | uppercase }}
            </nz-tag>
          </td>
          <td>
            <button nz-button nzType="link" (click)="openEditModal(ticket.ticket)">
              <i nz-icon nzType="edit"></i>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </nz-table>

  <!-- Edit Modal -->
  <nz-modal
  [(nzVisible)]="isEditModalVisible"
  [nzTitle]="'Edit Ticket'"
  (nzOnCancel)="cancelEdit()"
  [nzCentered]="true"
  [nzMaskClosable]="false"
  [nzFooter]="modalFooter"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="editForm" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status">
              <nz-option nzValue="BOOKED" nzLabel="BOOKED"></nz-option>
              <nz-option nzValue="CANCELLED" nzLabel="CANCELLED"></nz-option>
              <nz-option nzValue="PAID" nzLabel="PAID"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Seats</nz-form-label>
          <nz-form-control>
            <input nz-input type="number" formControlName="numberOfSeats" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>

    <!-- Custom footer template -->
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="cancelEdit()">Cancel</button>
      <button nz-button nzType="primary" (click)="submitEdit()">Save</button>
      <button nz-button nzType="default" (click)="deleteTicket(currentTicket?.id!)">Delete</button>
    </ng-template>
  </nz-modal>

  <!-- Add modal -->
  <nz-modal
    [(nzVisible)]="isCreateModalVisible"
    [nzTitle]="'Create Ticket'"
    (nzOnCancel)="cancelCreate()"
    (nzOnOk)="submitCreate()"
    [nzOkText]="'Create'"
    [nzCancelText]="'Cancel'"
    [nzCentered]="true"
    [nzMaskClosable]="false"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="createForm" nzLayout="vertical">
        <nz-form-item>
          <nz-form-label>Movie</nz-form-label>
          <nz-form-control>
            <nz-select 
              formControlName="movieId" 
              nzPlaceHolder="Select a movie"
              (ngModelChange)="onMovieChange($event)">
              <nz-option
                *ngFor="let movie of movies"
                [nzValue]="movie.id"
                [nzLabel]="movie.title"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Cinema</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="cinemaId"
              nzPlaceHolder="Select a cinema"
            >
              <nz-option
                *ngFor="let cinema of cinemas"
                [nzValue]="cinema.id"
                [nzLabel]="cinema.name"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Show Time</nz-form-label>
          <nz-form-control>
            <nz-select
              formControlName="showTime"
              nzPlaceHolder="Select a showtime"
            >
              <nz-option
                *ngFor="let showtime of availableShowtimes"
                [nzValue]="showtime"
                [nzLabel]="showtime"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Seats</nz-form-label>
          <nz-form-control [nzErrorTip]="'Must be at least 1 seat'">
            <input
              nz-input
              type="number"
              formControlName="numberOfSeats"
              min="1"
            />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Status</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="status">
              <nz-option nzValue="BOOKED" nzLabel="BOOKED"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal>
  
</div>
