<header class="navbar">

  <div class="logo">
    <img src="assets/images/logo1-white.png" alt="MoviePal Logo" class="logo-img" />
  </div>

  <nav class="nav-left">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/schedule" routerLinkActive="active">Schedule</a>
  </nav>

  <nav class="nav-right">
    <div class="search-container">
      <input
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchInput()"
        placeholder="Search..."
        class="search-input"
      />
      <img
        src="assets/images/search-icon.png"
        alt="Search"
        class="icon-img"
        (click)="onSearchClick()"
      />

      @if(searchResults.length > 0){
        <div class = "search-results">
          @for (movie of searchResults; track movie.id){
            <div class="search-result-item" (click)="selectMovie(movie)">
              <img [src]="movie.posterUrl" alt="{{ movie.title }}" class="result-poster" />
              <span class="result-title">{{ movie.title }}</span>
            </div>
          }
        </div>
      }
    </div>
    
    <div class="user-menu" #userMenuContainer>
      @if (isLoggedIn) {
        <div class="user-initials" (click)="toggleUserMenu()">{{ userInitials }}</div>
      } @else {
        <span nz-icon nzType="user" nzTheme="outline" (click)="toggleUserMenu()"></span>
      }
      
      <div class="dropdown-menu" [class.show]="isUserMenuOpen">
        @if (isLoggedIn) {
          <a [routerLink]="['/profile', ]">View Profile</a>
          <a routerLink="/tickets">Tickets</a>
          <a (click)="logout()">Logout</a>
        } @else {
          <a routerLink="/login">Login</a>
          <a routerLink="/register">SignUp</a>
        }
      </div>
    </div>
  </nav>
</header>
