<header class="navbar">
    <div class="logo">
      <img src="assets/images/logo.jpg" alt="MoviePal Logo" class="logo-img" />
    </div>
    <nav class="nav-links">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/menu" routerLinkActive="active">Movies</a>
      <a routerLink="/shop" routerLinkActive="active">Schedule</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/login" routerLinkActive="active">Login</a>
      <a routerLink="/login" routerLinkActive="active">SignUp</a>
      <span class="search-container">
        <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." class="search-input" />
        <img src="assets/images/search-icon.png" alt="Search" class="icon-img" (click)="onSearchClick()" />
      </span>
      
    </nav>
  </header>
  