<div class = "container">
  <div class = "image-container">
    <img [src]="data?.entry?.posterUrl" alt="Movie Poster" class="movie-poster">
  </div>

  <div class = "details-container">
    <h2 class="movie-title">{{ data?.entry?.title }}</h2>
    <p class="movie-description">{{ data?.entry?.description }}</p>
    <p class="movie-release-date">Release Date: {{ data?.entry?.releaseDate }}</p>
    <p class="movie-rating">Rating: {{ data?.entry?.rating }}</p>
    <button mat-button>Close</button>
  </div>
  
</div>