<div class="movie-detail-dialog">
  <img [src]="data.entry.posterUrl" alt="{{ data.entry.title }}" class="poster" />

  <h2>{{ data.entry.title }}</h2>

  <p class="description">{{ data.entry.description }}</p>

  <div class="detail-section">
    <label>Genre:</label><span>{{ data.entry.genre }}</span>
  </div>

  <div class="detail-section">
    <label>Director:</label><span>{{ data.entry.director }}</span>
  </div>

  @if (data.cinema){
      <div class="detail-section">
      <label>Cinema:</label><span>{{ data.cinema.name }} - {{ data.cinema.location }}</span>
  </div>
  }

</div>
